
@{
    ViewData["Title"] = "OnePayResult";
}

<div class="col-md-9">
    <h3 style="color:red; width:100%;text-align:center;">@ViewBag.Result</h3>
    <a class="btn add-to-cart-btn" style="padding-top:8px;" asp-controller="HangHoa" asp-action="Index"><i class="fa fa-shopping-cart"></i>Trở về trang chủ</a>
</div>



